{% extends "user/base.html" %}

{% load static %}

{% block content %}
    <!-- Video Background -->
    <div class="video-background">
        <video autoplay loop muted playsinline>
            <source src="{% static 'images/background.mp4' %}" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
    </div>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Лидер по логистике и мониторингу в Беларуси</h1>
            <p>Отслеживайте транспорт в реальном времени, выбирайте оптимальные маршруты и минимизируйте затраты.</p>
            <a href="{% url 'login_page' %}"  class="btn btn-primary">Перейти к карте</a>
        </div>
    </section>

    <!-- Features Section -->
    <section class="features">
        <h2>Наши Услуги</h2>
        <div class="features-grid">
            <div class="feature">
                <h3>📍 Отслеживание транспорта</h3>
                <p>Получите точные данные о местоположении вашего транспорта в реальном времени.</p>
            </div>
            <div class="feature">
                <h3>🗺️ Оптимизация маршрутов</h3>
                <p>Сэкономьте топливо и время с нашими умными маршрутами.</p>
            </div>
            <div class="feature">
                <h3>🌎 Интерактивные карты</h3>
                <p>Контролируйте передвижение транспорта на динамических картах.</p>
            </div>
        </div>
    </section>

    <!-- Advantages Section -->
    <section class="advantages">
        <h2>Почему Выбирают Нас?</h2>
        <div class="advantages-grid">
            <div class="advantage">
                <h3>📊 Точные данные</h3>
                <p>Мы гарантируем 99,9% точности в отслеживании транспорта, что позволяет вам контролировать местоположение вашего транспорта в любое время.</p>
            </div>
            <div class="advantage">
                <h3>🔒 Надежность</h3>
                <p>Мы обеспечиваем защиту данных наших клиентов с помощью современных технологий шифрования. Наша система работает без сбоев и доступна 24/7.</p>
            </div>
            <div class="advantage">
                <h3>🌍 Инновации</h3>
                <p>Мы используем самые современные технологии, включая машинное обучение и искусственный интеллект, чтобы предложить вам решения, которые значительно упрощают управление транспортом и логистикой.</p>
            </div>
        </div>
    </section>

{% endblock %}
